name: Lean CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lean:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sanity check repository root
        run: |
          pwd
          ls -la
          ls -l lakefile.toml

      - name: Set up Lean
        uses: leanprover/lean-action@v1
        with:
          lake-package-directory: .

      - name: Lake update
        run: lake update

      - name: Build
        run: lake build

