name: Lean Action CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Lean (elan)
        uses: leanprover/lean-action@v1

      - name: Configure Lean toolchain
        run: elan default stable

      - name: Lake update
        run: lake update

      - name: Build
        run: lake build

