name: Lean Action CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Lean
        uses: leanprover/lean-action@v1
        with:
          auto-config: true

      - name: Lake update
        run: lake update

      - name: Build
        run: lake build

